.travel-marker {

    width: 45px;
    height: 45px;

    border-radius: 50%;

    overflow: hidden;

    border: 4px solid white;

    box-shadow:
        0 10px 25px rgba(0,0,0,.25);

    cursor: pointer;

    transition: .3s;

    /* position: relative; */
}

.travel-marker img {

    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

.travel-marker:hover {

    transform: scale(1.12);

    box-shadow:
        0 15px 35px rgba(0,0,0,.35);
}
.travel-marker::after {

    content: "";

    position: absolute;

    left: 50%;
    bottom: -10px;

    width: 18px;
    height: 18px;

    background: white;

    transform: translateX(-50%) rotate(45deg);

    z-index: -1;
}